<div class="list">
  @for (person of listPessoas; track person.name + person.age; let i = $index; let isOdd = $odd; let isFirst = $first; let isLast = $last) {
    <div class="item"
         [class.item--odd]="isOdd"
         [class.item--highlighted]="personSelectedIndex === i"
         (click)="selectPerson(i)">

      <p class="item__name">{{ i }} - {{ person.name }}</p>
      <p class="item__age">{{ person.age }} anos</p>

      @if (isFirst) {
        <p class="item__age">É o primeiro</p>
      }

      @if (isLast) {
        <p class="item__age">É o último</p>
      }
    </div>
  }
</div>
